<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}heyHardik{% endblock %}</title>
</head>
<body>
    <div class="loader">
        <h1 class="counter">0%</h1>
        <div class="site-teaser">
            <span class=".site-teaser-text">Hello. नमस्ते. Hola. こんにちは. Bonjour. </span>
        </div>
        <div class="circles">
            <div class="circle circle-outer"></div>
            <div class="circle circle-inner"></div>
            <div class="circle-inner-rotator"></div>
            <div class="block"></div>
        </div>
    </div>

    <div class="container">
        <div class="navbar">
            <div class="site-logo">Hardik Jaiswal</div>
            <div class="menu-toggle">
                <div id="menu-toggle-btn">
                    <span class="span-text"></span>
                </div>
            </div>
        </div>

        <div class="nav-container">
            <div id="error-container" class="error-popup"></div>
            <div class="nav">
                <div class="col flex">
                    <div class="nav-logo">c:/</div>
                </div>
                <div class="col">
                    <div class="nav-link">
                        <a href="https://github.com/pythonicforge" target="_blank">GitHub</a>
                        <div class="nav-item-wrapper"></div>
                    </div>
                    <div class="nav-link">
                        <a href="https://linkedin.com/in/pseudopythonic" target="_blank">LinkedIn</a>
                        <div class="nav-item-wrapper"></div>
                    </div>
                    <div class="nav-link">
                        <a href="https://twitter.com/hardeadik" target="_blank">Twitter</a>
                        <div class="nav-item-wrapper"></div>
                    </div>
                    <div class="nav-link">
                        <a href="https://instagram.com/hardeadik" target="_blank">Instagram</a>
                        <div class="nav-item-wrapper"></div>
                    </div>
                    <div class="nav-link">
                        <a href="#" target="_blank">Resume</a>
                        <div class="nav-item-wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="nav-footer">
                <div class="links">
                    <a href="#">Cppyright (C) 2024 Hardik Jaiswal</a>
                </div>
                <div class="contact">
                    <a href="#">pythonicforge@gmail.com</a>
                </div>
            </div>
        </div>

        <div class="main-container">
            Hey there
            
        </div>
        

        <div class="footer">
            <button id="instructions">Toggle 'V' key to speak or Click here to speak</button>
            <div id="listening-indicator" class="hidden">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div id="subtitle-container" class="subtitle"></div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="https://unpkg.com/siriwave/dist/siriwave.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/microphone.js') }}"></script>
</body>
</html>