<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}heyHardik{% endblock %}</title>
</head>
<body>
    <div class="loader">
        <h1 class="counter">0%</h1>
        <div class="site-teaser">
            <span>Hello. नमस्ते. Hola. こんにちは. Bonjour. </span>
        </div>
        <div class="circles">
            <div class="circle circle-outer"></div>
            <div class="circle circle-inner"></div>
            <div class="circle-inner-rotator"></div>
            <div class="block"></div>
        </div>
    </div>

    <div class="container">
        <h1>Hi!</h1>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>